# Enable new Symfony based front container
PS_FF_FRONT_CONTAINER_V2=false

# Trusted proxies for reverse proxy deployments
PS_TRUSTED_PROXIES=

# Default PrestaShop theme
PS_FF_DEFAULT_THEME=hummingbird